body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ebe4d2;
}

header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures the header is above other elements */
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    margin-top: 30vh;
}

.side-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
}

.side-menu i {
    background-color: rgb(211, 194, 138);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    transition: width 0.3s ease;
}




.side-menu a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    border: 0px solid transparent;
    padding: 7px 10px; 
    display: inline-block;

}

.button-text{
    visibility: hidden;
}


.side-menu button i {
    margin-right: 10px; /* Add some spacing between the icon and text */
}

#about-icon {
    width: 20px; /* Set the desired width for the icon */
    height: auto;
    margin-right: 10px; /* Add some spacing between the icon and text */
}

#home {
    text-align: left;
    padding: 10% 5%; 
    min-height: 100vh; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    
}


.home-header {
    color: #333;
    margin-bottom: 5%; 
    font-size: 4vw; 
    margin-left: 20%;
}

#home-mainheader{
    font-size: 60px;
}

#home-subheader {
    color: #333;
    font-size: 1.5vw; /* Adjust font size based on percentage of viewport width */
}

#about-content{
    text-align: left;
    padding: 100px 20px;
    height: 80vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex;
    flex-direction: column;
    justify-content: center;

}