body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}


/* -------------------
    Navigation Bar
---------------------- */
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    margin-top: 30vh;
}

.nav-menu a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    border: 0px solid transparent;
    padding: 7px 10px; 
    display: inline-block;
    margin-left: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu a i {
    font-size: 16px;
}

.menu a,
.menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 20px 25px; /* Adjust padding */
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 10%;
    width: 42%; /* Adjust width to take full width */
    overflow: hidden;
}

.menu a span,
.menu a:focus span { 
    padding: 0 5px 0 7px;
    color: #45505b;
}

.menu a:hover,
.menu .active,
.menu .active:focus,
.menu li:hover>a {
    color: #fff;
    background: #1478dd;
}

.menu a:hover span,
.menu .active span,
.menu .active:focus span,
.menu li:hover>a span {
    color: #fff;
    visibility: visible;
}

.nav-item:nth-child(1) a:hover,
.nav-item:nth-child(1):hover>a {
    width: 70%;
    color: #fff;
}

.nav-item:nth-child(2) a:hover,
.nav-item:nth-child(2):hover>a {
    width: 70%; 
    color: #fff;
}

.nav-item:nth-child(3) a:hover,
.nav-item:nth-child(3):hover>a {
    width: 90%; 
    color: #fff;
}

.nav-item:nth-child(4) a:hover,
.nav-item:nth-child(4):hover>a {
    width: 85%; 
    color: #fff;
}

.nav-item:nth-child(5) a:hover,
.nav-item:nth-child(5):hover>a {
    width: 85%; 
    color: #fff;
}

.menu a:hover span,
.menu li:hover>a span {
    display: block;
}

.menu a span,
.menu a:focus span {
    visibility: hidden; 
}




/* ---------------
    Home Section
------------------ */
#home {
    text-align: left;
    padding: 10% 5%; 
    min-height: 100vh; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    
}

.home-header {
    color: #333;
    margin-bottom: 5%; 
    font-size: 4vw; 
    margin-left: 20%;
}

#home-mainheader{
    font-size: 60px;
}

#home-subheader {
    color: #333;
    font-size: 1.5vw; 
}


#dynamic-text {
    transition: opacity 0.5s ease; /* Add CSS transition for opacity */
    color: #1478dd;
}

/*------------------
    General section
--------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  
  .section-title p {
    margin-bottom: 0;
  }

/*-------------------
    About Section
---------------------*/
section#about {
    padding: 60px 0 150px; /* Adjust the padding-bottom value to add more space */
    overflow: hidden;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section#about .container .row .col-lg-8 .content ul {
    list-style-type: none;
}